.App {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

.text-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  font-weight: bold;
}